.header{
    list-style-type: none;
    margin: 15px;
    margin-right: 5px;
    padding: 0;
    font-size: 85%;
}

li{
    display: block;
    float: right;
    padding: 8px;
    text-align: center;
}

li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

li img:hover{
    cursor: pointer;
    background-color: #bebebe;
}

li img{
    margin-top: -5px;
}

body{
    font-family: arial, sans-serif;
}

.logo{
    position: relative;
    left: 42%;
    top: 250px;
}

#search_bar{
    position:relative;
    left: 38%;
    top: 300px;
    width: 420px;
}

.buttons{
    position: relative;
    top: 350px;
    left: 42%;
}

button{
    margin: 5px;
}

footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 90%;
    color: #70757a;
    border-top: 1px solid #cfcecc;
    position: fixed;
    bottom: 0;
    left: 0%;
    height: 40px;
    width: 1920px;
    background: #e0dfdc;
}

.left_footer{
    position: fixed;
    bottom: 0%;
    left: 0%;
}

.right_footer{
    position: fixed;
    bottom: 0%;
    right: 0%;
}